<!DOCTYPE html>
<html>
	<head>
		<%= javascript_include_tag('calendar.js') %>
	</head>
	<body>
		<div id="event-lightbox-container">
			<div class="screen"></div>
			<div id="event-lightbox">
				<div id="close-event-lightbox">+</div>
				<div id="event-lightbox-content">
					<div class="data-title">Event</div>
					<div id="event-title" class="event-data"></div>
					<div class="data-title">Start</div>
					<div id="event-start" class="event-data"></div>
					<div class="data-title">End</div>
					<div id="event-end" class="event-data"></div>
					<div id="add-event">+ Add To My Events</div>
				</div>
			</div>
		</div>
		<div class="profile-header">
	        <a href="/"><img id="navbar-logo" src="/images/logo2.png"></a>
	    </div>
	    <div class="calendar-container">
	    	<div id='calendar'></div>
	    </div>
	</body>
</html>