<!DOCTYPE html>
<html>
	<head>
		<%= javascript_include_tag('calendar.js') %>
	</head>
	<body>
		<div class="profile-header">
	        <a href="/"><img id="navbar-logo" src="/images/logo2.png"></a>
	    </div>
	    <div class="calendar-container">
	    	<div id='calendar'></div>
	    </div>
	</body>
</html>