<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href='fullcalendar.css' />
		<script src='lib/moment.min.js'></script>
		<%= javascript_include_tag('calendar.js') %>
	</head>
	<body>
		<div class="profile-header">
	        <a href="/"><img id="navbar-logo" src="/images/logo2.png"></a>
	    </div>
	    <div class="calendar-container">
	    </div>
	</body>
</html>