<!DOCTYPE html>
<html>
<head>
</head>

<body>
    <div class="profile-header">
        <a href="/"><img id="navbar-logo" src="/images/logo2.png"></a>
    </div>
    <div id="add-photo-container">
        <div class="screen"></div>
        <div id="add-photo-lightbox">
            <div id="close-photo-lightbox">x</div>
            <div id="add-photo-lightbox-content">
                <div id="add-photo-title">Add photos from your computer.</div>
                <label id="add-photos-label" for="add-photos">+ Select Photos</label>
                <input type="file" id="add-photos" name="add-photos" multiple>
            </div>
        </div>
    </div>
    <div class="gallery-container">
        <div id="gallery">
            <div class="photos-title">
                <h2 id="photo-title">Photos</h2>
                <div id="add-photos-button">+ Add Photos</div> 
            </div>
            <div class="photos-display">
                <% @galleries.each do |gallery| %>
                    <div class="photo-container">
                        <div class="save-photo">+</div>
                        <img class="photo" id=<%= gallery.id %> src=<%= gallery.image %>>
                        <div class="photo-date"> <%= gallery.created_at%> </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
    
  
  <!--<%= link_to 'New Gallery', new_gallery_path %>-->
    
    <script>
        var closeLightbox = function() {
            $("#add-photo-container").slideUp( "medium", function() {
                $(this).hide(); 
              });
        }
        $("input[name=add-photos]").change(function() {
            var images = [];
            for (var i = 0; i < $(this).get(0).files.length; ++i) {
                images.push($(this).get(0).files[i]);
            }
            console.log(images);
            closeLightbox();
        });
        $("#close-photo-lightbox").click(function() {
            closeLightbox();   
        });
        $("#add-photos-button").click(function() {
            $("#add-photo-container").show();
        });
        $(".save-photo").click(function() {
            var id = $(this).next().attr("id");
            console.log(id);
            $.ajax({
                        type : 'post',
                        url : "/galleries/add-favorite",
                        data : {"image": id},    
                        dataType : 'json',
                        async : false,
                        context : $(this),
                        success : function(response) {
                             $(this).text("✓");
                        }
                      });
        });
    </script>
</body>
</html>