<!DOCTYPE html>
<html>
	<head>
		<%= javascript_include_tag('about.js') %>
	</head>
	<body>
		<div class="profile-header">
	        <a href="/"><img id="navbar-logo" src="/images/logo2.png"></a>
	        <a href="/about" class="nav-element active-link">About </a>
	        <a href="/members" class="nav-element">Members</a>
	        <a href="/galleries" class="nav-element">Gallery</a>
	        <a href="/calendar" class="nav-element">Events</a>
	    </div>
	    <div id="about-container">
	    	<div class="about-section">
	    		<img class="about-image" src="images/about.png">
	    		<h2>Who are we?</h2>
	    		<div class="about-text">
	    			The American Red Cross at Cal is a group of volunteers dedicated serving the Berkeley community, and the rest of the Bay Area, by teaching others, responding to disasters, and developing strong leaders. Our organization is comprised of five lines of service: International Services, Disaster Services, Youth Services, Blood Services and Health & Safety.
	    		</div>
	    	</div>
	    	<div class="about-section">
	    		<img class="about-image" src="images/mission.png">
	    		<h2>Our Mission</h2>
	    		<div class="about-text">
	    			The American Red Cross prevents and alleviates human suffering in the face of emergencies by mobilizing the power of volunteers and the generosity of donors.
	    		</div>
	    	</div>
	    </div>
	</body>
</html>