#calendar {
	position: relative !important;
    height: 100% !important;
    margin-top: 50px;
    background-color: white;
    padding: 20px;
}
.calendar-container {
	position: relative;
	height: 100%;
	width: 100%;
	margin-top: 32px;
	padding-left: 100px;
	padding-right: 100px;
}
 html, body {
	font-family: Regular !important;
	background-color: #D7D7D8 !important;
}

button, .fc-state-default {
	background-image: none !important;
	background-color: #ED1B2E !important;
	text-shadow: none !important;
	box-shadow: none !important;
	border-color: none !important;
	border: none !important;
	outline: none !important;
}
button:focus {
	outline: none !important;
}
.fc-icon {
	color: white !important;
}
.fc-prev-button {
	margin-right: 2px !important;
}
.fc-other-month {
	opacity: 0.2 !important;
}
.fc-today {
	background: none !important;
}
.fc-day-number.fc-today {
	background-color: #ED1B2E !important;
	border-radius: 50% !important;
	width: 25px !important;
	height: 25px !important;
	text-align: center !important;
	line-height: 25px !important;
	position: relative !important;
    float: left !important;
    margin: 0px !important;
    color: white !important;
}
.fc-day-number {
	position: relative;
	font-family: Regular !important;
	font-size: 16px !important;
	margin-top: 2px !important;
	margin-right: 2px !important;
}
thead, tbody, .fc-widget-content, .fc-head-container, .fc, .fc-day-header, .fc-row, .fc-day, .fc-head{
	border: none !important;
	border-color: white !important;
	border-width: 0px !important;
	border-style: none !important;
}
.fc-day-header {
	text-transform: uppercase;
	font-family: Bold;
	font-size: 16px;
	padding-bottom: 20px !important;
	text-align: left !important;
}
.fc-toolbar {
	margin-bottom: 20px;
}
.fc-today-button {
	text-transform: capitalize;
	color: white !important ;
   }
.fc-event {
	background-color: #004B79 !important;
	border: none !important;
	padding: 2px !important;
}
.fc-event:hover {
	background-color: white!important;
	border: solid 1px #004B79  !important;
	padding: 2px !important;
	color: #004B79 !important;
}
a.fc-event:visited .fc-content{
	color: white !important;
	text-decoration: underline !important;
}
.fc-content {
	color: white !important;
}
a.fc-event:hover .fc-content {
	color: #004B79 !important;
}
#event-lightbox-container {
	top: 0;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 10;
	display: none;
}
#event-lightbox {
	position: relative;
	top: 50%;
	height: 300px;
	width: 350px;
	transform: translateY(-50%);
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}
.event-data {
	font-size: 16px;
	text-align: left;
	position: relative;
	margin-bottom: 10px;
}

#add-event {
	background-color: #ED1B2E;
	color: white;
	position: relative;
	margin: 0px auto;
	margin-top: 40px;
	width: 200px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	transition: 0.3s;
	text-transform: uppercase;
}
#add-event:hover {
	background-color: white;
	border: solid 1px #ED1B2E;
	color: #ED1B2E;
	
}
#close-event-lightbox{
	font-size: 20px;
	transform: rotateZ(45deg);
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}
.data-title {
	font-family: Bold;
	font-size: 12px;
	color: #ED1B2E;
	text-align: left;
	position: relative;
}
#event-lightbox-content {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-left: auto;
	margin-right: auto;
}
a.nav-element {
	color: white !important;
    position: relative;
    float: right;
    width: 75px;
    line-height: calc(30px);
    height: 30px;
    text-align: center;
}
a.nav-element.active-link {
	border-bottom: solid 4px white;
}
a.nav-element:hover + .nav-element{
	border-bottom: none;
}
a.nav-element:hover{
	border-bottom: solid 4px white;
}
