// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

body {
    font: Regular !important;
    background-color: #ababab;
    font-family: Regular, sans-serif !important;
    margin: 0px !important;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.menu-header {
    background-color: #ED1B2E;
    padding: 5px;
    position: fixed;
    width: 100%;
    top: 0px;
    
}
.home-container {
    position: relative;
    margin-top: 100px;
    background-color: #D7D7D8;
    height: 100%;
    width: 100%;
    padding: 10px;
    overflow: scroll;
}
.round-image-50 {
    background-color: white;
    // border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 40px;
    width: 40px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}
.logo {
    display: inline-block;
    margin-left: 10px;
}
.menu {
    display: inline-block;
    margin-left: 1000px;
    position: relative;
}
.menu li {
    vertical-align: middle;
    display: inline-block;
    margin-left: 15px;
    color: white;
}

.home_link {
    color: white!important;
    font-weight: bold!important;
    font-size: 15px!important;
}

.home_link:hover {
    // background-color:white!important;
    color: black!important;
}

#login-lightbox {
    background-color: white;
    height: 300px;
    width: 600px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px;
}