// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.members-header {
    background-color: #ED1B2E;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0px;
}

body {
    font: Regular !important;
    background-color: #D7D7D8;
    font-family: Regular, sans-serif !important;
    margin: 0px !important;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

#members-container {
    position: relative;
    background-color: #F4F4F3;
    height: 100%;
    width: 100%;
    padding: 10px;
    overflow: scroll;
}

.members-list {
    position: relative;
    padding: 25px;
    margin-bottom: 40px;
}
.member-row-nonofficer {
    position: relative;
    display: block;
    background-color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100px;
    padding: 10px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}
.member-row {
    position: relative;
    display: block;
    background-color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100px;
    padding: 10px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}
.member-row:hover .member-contribution{
   right: 100px;
}
.member-row:hover .member-status{
   right: 225px;
}
.member-row:hover .toggle-active-button {
    width: 100px;
}
.member-row:hover .toggle-inner-text {
    display: block;
}
.member-avatar {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
}

.profile-image {
    height: 75px;
}

.member-info {
    margin-left: 10px;
    display: inline-block;
    position: absolute;
    height: 100px;
    top: 50%;
    transform: translateY(-20%);
}

.member-status {
    display: inline-block;
    position: absolute;
    right: 125px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    width: 90px;
    text-align: center;
    padding: 5px;
    color: white;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.active {
    background-color: #357B2C;
}
.inactive {
    background-color: #848384;
}
.member-contribution {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    height: 100px;
    width: 100px;
    text-align: center;
    border-left: solid #848384 1px;
}

.member-name {
    font-size: 20px;
    position: relative;
}

#member-email {
    position: relative;
}

#email-symbol {
    height: 15px;
    margin-right: 5px;
}

#member-hours {
    position: relative;
    top: 50%;
    transform: translateY(-80%);
    font-size: 20px;
    font-family: Bold;
}
#hours {
    position: relative;
    top: 50%;
    transform: translateY(-80%);
}
.toggle-active-button {
    height: 100px;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 0px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    cursor: pointer;
    color: white;
}
.toggle-inner-text {
    display: none;
    padding: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#search-members-input {
    width: 250px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    display: inline-block;
}
#search-members {
    position: relative;
    float: right;
    display: inline-block;
    margin-top: 20px;
    background-color: white;
    padding-right: 10px;
}
#members-header {
    width: 250px;
    margin-right: 0px !important;
    position: relative;
    display: inline-block;
}

#search-symbol {
    position: relative;
    display: inline-block;
}
.delete-member {
    position: absolute;
    top: 5px;
    right: 10px;
    color: black;
    cursor: pointer;
}
.delete-bttn {
    position: absolute;
    top: 5px;
    right: 10px;
    color: black;
    cursor: pointer;
}
.delete-member:hover .delete-member-help {
    opacity: 0.6;
}
.delete-member-help {
    background-color: black;
    opacity: 0;
    height: 25px;
    line-height: 25px;
    width: 100px;
    position: absolute;
    left: -105px;
    font-size: 11px;
    color: white;
    display: inline-block;
    border-radius: 5px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.hide {
    display: none;
}
.show {
    display: block;
}
#lightbox-container {
    position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: none;
}
#member-details-lightbox-container {
    position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: none;
}
.screen {
    background-color: black;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    position: fixed;
}
#delete-member-lightbox {
    background-color: white;
    height: 300px;
    width: 400px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px;
}
#member-details-lightbox {
    background-color: white;
    height: 300px;
    width: 400px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px;
}
#delete-member-title {
    text-align: center;
    font-size: 28px;
    // font-family: Bold;
    color: #E2231A;
    line-height: 32px;
    position: relative;
    top: 50%;
    transform: translateY(-70%);
}
#delete-member-name {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: Regular;
    color: black;
    position: relative;
}
.lightbox-buttons-container {
    position: relative;
    width: 210px;
    margin-left: auto;
    margin-right: auto;
}
.lightbox-button {
    position: relative;
    height: 30px;
    width: 100px;
    line-height: 30px;
    text-align: center;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    cursor: pointer;
    
}
.yes-button {
    background-color: #E2231A;
    float: right;
    color: white;
}
.no-button {
    background-color: white;
    border: solid #E2231A 2px;
    float: left;
    color: #E2231A;
}
.no-button:hover + .yes-button {
    background-color: white;
    border: solid #E2231A 2px;
    color: #E2231A;
}
.no-button:hover {
    background-color: #E2231A;
    color: white;
}

.add-hours {
    padding: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    width: 250px;
    border: 1px solid black;
}
.add-hours-bttn {
    margin-left: 0px;
    background-color: black;
    border: none;
    color: white;
    padding: 12px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}