// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a:hover {
    background: none !important;
}


.profile-header {
    background-color: #ED1B2E;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0px;
}

body {
    font: Regular !important;
    background-color: #ababab;
    font-family: Regular, sans-serif !important;
    margin: 0px !important;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: scroll;
}
#navbar-logo {
    height: 30px;
}
#profile-container {
    position: relative;
    margin-top: 18px;
    background-color: #D7D7D8;
    height: 100%;
    width: 100%;
    padding: 10px;
    overflow: scroll;
}
.top-bar {
    position: relative;
    display: block;
    width: 95%;
    height: 200px;
    padding: 20px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.bottom-section {
    width: 95%;
    height: calc(60% - 10px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.tagged-pics {
    display: inline-block;
    width: 67%;
    background-color: white;
    position: relative;
}
.avatar {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    
}
.personal-info {
    margin-left: 10px;
    display: inline-block;
    position: relative;
    top: 0px;
    vertical-align: top;
    width: 400px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.contribution {
    display: inline-block;
    position: relative;
    vertical-align: top !important;
    top: 50%;
    transform: translateY(-50%);
}
input[type="file"]:focus {
    outline: none;
}
.avatar img {
    height: 150px;
}
.avatar {
    width: 150px;
    text-align: center;
}
#edit-photo {
    margin: 0px !important;
    position: absolute !important;
    padding: 10px !important;
    bottom: 0px !important;
    text-align: center;
    background-color: black;
    opacity: 0;
    color: white;
    width: 150px !important;
    height: 0px;
    transition: 0.2s;
    cursor: pointer;
    display: block !important;
}
#user_avatar {
    height: 1px;
    width: 1px;
}
.avatar:hover  #edit-photo{
    height: auto;
    opacity: 0.6;
}
#profile-name {
    font-size: 30px;
    display: inline-block;
    vertical-align: center !important;
    transition: 0.3s;
}
#profile-name.active {
    color: #ED1B2E;
    outline: none !important;
}
#status-badge {
    background-color: #357B2C;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    width: 100px;
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    position: relative;
    top: 50%;
    transform: translateY(-5px);
    margin-left: 5px;
}
#name-section {
    vertical-align: center;
}
#profile-email {
    font-size: 12px !important;
    display: inline-block;
    margin-left: 5px !important;
}
#email-symbol{
    display: inline-block;
}
#about-me {
    margin-top: 15px;
    transition: 0.3s;
}
#about-me.active {
    color: #ED1B2E;
    outline: none !important;
}
.contribution {
    margin-left: 100px;
}
.hours {
    display: inline-block;
    position: relative;
    margin-right: 50px;
    font-size: 14px;
}
.hours-text {
    font-family: Italic !important;
    font-size: 14px !important;
}
.num-hours {
    font-family: Bold;
    text-align: center;
    font-size: 34px;
    color: #ED1B2E;
}
#medal {
 text-align: center;   
}
#edit-container {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 40px 40px 0;
    border-color: transparent #55565A transparent transparent;
    transition: 0.3s;
}
#edit-container.active {
    border-color: transparent #ED1B2E transparent transparent !important;
}
#edit-container:hover {
    border-color: transparent #ED1B2E transparent transparent !important;
}
#top-edit {
    position: absolute;
    right: -35px;
    top: 5px;
}
.tagged-pics {
    position: relative;
    display: inline-block;
    background-color: white;
    width: calc(70% - 10px);
    min-height: 360px;
    float: right;
    padding: 10px;
    text-align: center;
}
.event {
    display: inline-block;
    position: relative;
    background-color: white;
    padding: 35px;
    padding-top: 10px;
    width: 30%;
    height: 360px;
    float: left;
}
.tagged-photo {
    display: inline-flex;
    position: relative;
    width: calc(30%);
    margin: 10px;
}
.edit_user input[type="submit"] {
    display: none;
}
#event-timeline {
    height: 70%;
    width: 2px;
    background: black;
    position: absolute;
    left: 100px;
}
.event-object {
    display: block;
    position: relative;
    width: 275px;
    height: 100px;
    left: -65px;
}
.event-date {
    position: relative;
    float: left;
    font-size: 12px;
    text-transform: uppercase;
    width: 65px;
    padding-right: 10px;
    display: inline-block;
}
.event-today {
    position: relative;
    text: #ff1313;
    float: left;
    font-size: 12px;
    text-transform: uppercase;
    width: 65px;
    padding-right: 10px;
    display: inline-block;
}
.event-dot {
    display: inline-block;
    position: relative;
    margin-left: -4px;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    
}
.event-name {
    display: inline-block;
    position: relative;
    font-size: 12px;
    margin-left: 20px;
}

#edit-help {
    position: absolute;
    right: 0;
    margin-right: 40px;
    background: black;
    opacity: 0;
    width: 150px;
    font-size: 11px;
    padding: 5px;
    color: white;
    border-radius: 5px;
    top: 0px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
#edit-help-carrot {
    // opacity: 0.6;
    width: 0; 
    height: 0; 
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 10px solid black;
    position: absolute;
    right: -10px;
    top: 14px;
}

#edit-container:hover + #edit-help {
    opacity: 0.6;
}