!DOCTYPE html>
<html>
<head>
</head>

<body>
    <div class="members-header">
        <a href="/"><img id="navbar-logo" src="/images/logo2.png"></a>
    </div>
    <div id="members-container">
        <div class="members-list">
            <h2 id="members-header">Our Members</h2>
            <div id="search-members">
                <input placeholder="Search by member here..." id="search-members-input" type="text">
            </div>
            
            <% @members.each do |member| %>
                <div class="member-row">
                    <div class="member-avatar">
                        <%= image_tag(member.avatar.url(:thumb), :class => "profile-image") %>
                    </div>
                    <div class="member-info">
                        <div id="member-name"><%= member.name %></div>
                        <div id="member-email"><img id="email-symbol" src="/images/email.png"><%= member.email %></div>
                    </div>
                    <% if member.status %>
                        <div class="member-status active">
                           Active
                        </div>
                    <% else %> 
                        <div class="member-status inactive">
                           Inactive
                        </div>
                    <% end %>
                    <div class="member-contribution">
                        <div id="member-hours"><%= member.total_hours %></div>
                        <div id="hours">Hours</div>
                    </div>
                    <% if member.status %>
                        <div class="toggle-active-button active">
                        <div class="toggle-inner-text">Mark Inactive</div>
                        </div>
                    <% else %> 
                        <div class="toggle-active-button inactive">
                         <div class="toggle-inner-text">Mark Active</div>
                        </div>
                    <% end %>
                    
                </div>
            <% end %>
        </div>
    </div>
</body>
</html>